<!DOCTYPE html>
<html>
<%- include('header'); -%>
<link href="/css/detail.css" type="text/css"  rel="stylesheet">
<body>
   <div> <%object =  JSON.parse(data).rows[0]%></div>
   <% pathImage = `http://0.0.0.0:3131/${object.PathImageReview}/1.jpg` %>
   <section>
      <div class="container">
         <div class="row">

            <div class="col">
               <img src="<%= pathImage%>" alt="" />
            </div>
            <div class="col">
               <div class="col-sm-7">
                  <div class="product-information">
                     <form action="/detail/<%= object.SHOES_ID%>  " method="POST">
                        <h2><%= object.Name  %> </h2>
                        <p>ID:  <%= object.SHOES_ID%></p>
                        <span>
                        <span><%= object.Price  %> <%= object.Currency%></span>
                        <label>Số Lượng</label>
                        <input type="text" value="1" name="CurrentQuantity" />
                        <button type="submit" class="btn btn-fefault cart">
                            <i class="fa fa-shopping-cart"></i>
                            Thêm vào giỏ hàng
                        </button>
                    </span>
                     </form>

                     <p><b>Tình trạng:</b> Còn hàng ( <%= object.CurrentQuantity%> )</p>
                     <p><b>Trạng thái:</b> New</p>
                     <p><b>Cửa hàng:</b> Duchier</p>
                  </div>
               </div>
            </div>
            <div class="col-sm-9 padding-right">
               <div class="product-details"><!--product-details-->
                  <div class="col-sm-5">
                     <div class="view-product">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</body>
<%- include('footer'); -%>
</html>